<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <table width="100%" cellspacing height="100">
      <tr>
        <td halign="center" valign="middle">
          <img
            src="assets/img/underConstruction/construction.png"
            width="80%"/>
            <p>
            <button
            mat-raised-button
            color="primary"
            class="example-button-row">
            <a onclick="history.back()">Zurück</a>
          </button>
        </td>
      </tr>
    </table>
  </body>
</html>
