<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  <table class="table">
    <tr class="tr">
      <td class="td-top" colspan="2"></td>
    </tr>
    <tr class="tr">
      <td class="td" colspan="2">
        <img src="assets/img/wieHeisstDu/Lifesavers_Hand.png" ><img />
        <h1>Wie heisst du?</h1>
        <div>
          <form>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name und Nachname</mat-label>
              <input matInput />
            </mat-form-field>
          </form>
        </div>
      </td>
    </tr>
    <tr >
      <td class = td-bottom>
        <div>
          <button mat-raised-button color="primary" class="example-button-row">
            <a class="link-white" routerLink="/home">Zurück</a>
          </button>
  </div>
  
  
    <td class = td-bottom> 
        <div>  
          <button mat-raised-button color="primary" class="example-button-row">
            <a class="link-white" routerLink="/onb2">Weiter</a>
          </button>
        </div>
      
    </tr>
  </table>
    
</body>
</html>